body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #d6d2c4; 
    color: #000000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0em;
}

#name a {
    text-decoration: none;
    color: black;
}

.navigation-items {
    display: inline-block;
    padding: 0em 1em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.about-me-container{
    display: flex;
    margin: 1em;
}

.about-me-text-container{
    display: block;
}

#motivational{
    margin-left: 1em;
}

p {
    display: block;
    padding: 0em 2em 1em 0em;
    text-align: justify;
    word-spacing: 0.1em;
    line-height: 1.4em;
}

.contact {
    margin-left: 1em;
}

.portrait{
    height: 600px;
    width: 450px;
    margin-top: 5%;
    border: 2px solid black;
}
figcaption {
    font-style: italic;
    text-align: center;
}

#projects{
    margin: 1em;
}

.project-image{
    max-width: 80%;
    min-width: 225px;
}

/* #skills-container {
    display: inline-block;
} */

#skills {
    margin: 1em;
    
}

/* #skills-container ul li {
    display: block;
    font-size: 1.25rem;
    padding: 0em 1em;
    width: 20%;
} */

#skills-container {
    display: flex;
    flex-wrap: wrap;
}

#skills-container img {
    width: auto;
    min-width: 150px;
    height: 190px;
}

#skills-container figcaption {
    font-style: normal;
}

@media only screen and (max-width: 800px){
    .about-me-container{
        display: inline-block;
    }
}

@media only screen and (max-width: 480px){
    .about-me-container{
        display: inline-block;
    }
    .portrait {
        height: 300px;
        width: 225px;
    }
}

footer {
    margin-top: 1em;
    text-align: center;
}

